.about-background {
  height: 450px;
  background:
    url("/src/assets/images/searchbar-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/assets/images/coriander-spoon.png");

  background-position:
    center bottom,
    center center,
    center center;
  background-size:
    100% auto,
    cover,
    cover;
  background-repeat: no-repeat;

  margin-bottom: 60px;
  padding-top: 80px;
  @include mobile {
    height: 300px;
    background:
      url("/src/assets/images/searchbar-bg-sm.png"),
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/src/assets/images/coriander-spoon.png");
    background-position:
      center bottom,
      center center,
      center center;
    background-size:
      100% auto,
      cover,
      cover;
    background-repeat: no-repeat;
    padding-top: 140px;
    margin-bottom: 80px;
  }
}
.about-small-title {
  font-family: ChenYuluoyan;
}
.card-dashed {
  border-bottom: 1px dashed #fcfcfd;
}
.white-btn {
  background-color: white;
  color: var(--bs-primary-950);
  &:hover {
    background-color: var(--bs-secondary-700);
    color: white;
  }
}
