.return-header {
  height: 364px;
  background-image:
    url("/src/assets/images/searchbar-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/assets/images/webp-images/earth-explode.webp");

  background-position:
    center bottom,
    center center,
    center center;
  background-size:
    100% auto,
    cover,
    cover;
  background-repeat: no-repeat;
  padding-top: 104px;

  @include mobile {
    height: 312px;
    background-image:
      url("/src/assets/images/searchbar-bg-sm.png"),
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/src/assets/images/webp-images/earth-explode.webp");
    background-position:
      center bottom,
      center center,
      right -330px center;
  }
}

.form-control,
.form-select {
  background-color: $primary-50;
  border: none;
  outline: none;
  :focus {
    background-color: $primary-50;
  }
}

.btn-checkbox:checked {
  background-color: $primary-600;
}

.bom-btn {
  border: $primary-200;
}

.form-check-inline {
  border: 1px solid $primary-200;
  width: 50%;
  @include pad {
    width: 100%;
  }
}

/* 容器與預覽圖設定 */
.upload-preview-item,
.upload-btn {
  width: 120px;
  height: 120px;
  border: none;
}

/* 預覽圖縮放填滿 */
.upload-preview-item img {
  object-fit: cover;
}

/* 自定義上傳按鈕背景 */
.upload-btn {
  background-color: #fff3e0; /* 淺橘黃背景 */
  transition: all 0.3s ease;
}

.upload-btn:hover {
  background-color: $primary-50;
}

/* 內層黃色小方塊 */
.upload-icon-wrapper {
  width: 48px;
  height: 48px;
  //background-color: $primary-500; /* 橘黃色按鈕 */
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
